In [1]:
import pandas as pd
import numpy as np

## Get data from Wikipedia

In [4]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Remove all rows with 'Not assigned' value

In [10]:
df['Borough'].replace('Not assigned',np.nan,inplace=True)
df.dropna(subset=['Borough'],axis=0,inplace=True)
df.reset_index(drop=True,inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

## Put Neighbourhood with same Postcode together seperated by ','

In [11]:
df1=df.groupby(['Postcode','Borough'],sort=False).agg(lambda x:','.join(x))
df1.head()

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto                     Harbourfront
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Downtown Toronto                     Queen's Park

In [12]:
df1.reset_index(level=['Postcode','Borough'],inplace=True)
df1.head(5)

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A  Downtown Toronto                     Queen's Park

In [15]:
df1.rename(columns={'Postcode':'Postal Code'},inplace=True)
df1.head()

  Postal Code           Borough                    Neighbourhood
0         M3A        North York                        Parkwoods
1         M4A        North York                 Victoria Village
2         M5A  Downtown Toronto                     Harbourfront
3         M6A        North York  Lawrence Heights,Lawrence Manor
4         M7A  Downtown Toronto                     Queen's Park

In [13]:
df1.shape

(103, 3)